/interface.pkg
/InterfaceInstaller/Interface/appsettings.json
/InterfaceInstaller/Interface/appsettings.Development.json
/InterfaceInstaller/Interface/backend
/InterfaceInstaller/Interface/backend.pdb
/InterfaceInstaller/Interface/backend.staticwebassets.endpoints.json