/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/JetBrainsMonoNLNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'JetBrains Mono', monospace;
}

body,
button,
input,
textarea,
select {
  font: inherit;
}
